<!-- footer -->
<footer class="section pb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 text-md-left text-center">
                <p class="mb-md-0 mb-4">Copyright © {{now.year}} Developed by <a
                        href="{{github_url}}">Avishek Das</a></p>
            </div>
            <div class="col-md-4 text-md-right text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-info d-inline-block p-2" href="{{twitter_url}}"><i
                                class="ti-twitter-alt"></i></a></li>
                    <li class="list-inline-item"><a class="text-dark d-inline-block p-2" href="{{github_url}}"><i class="ti-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="text-primary d-inline-block p-2" href="{{linkedin_url}}"><i
                                class="ti-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->